
@import url(fonts.css);
@import url(normalize.css);

h1 {
	padding: 0;
	margin: 0;
	font-size: 0;
	font-weight: normal;
}

p {
	margin: 0;
	padding: 0;
}

.text-bold {
	font-weight: bold;
}

.page__bg {
	background-image: url("/f/images/background.png");
	background-size: 100%;
/* 	overflow: hidden; */
}

.page-content {
/* 	max-width: 1280px; */
	padding: 0 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.page-content__headline {
	font-size: 36px;
	font-family: "Exo2.0-Thin";
	color: #fff;
	line-height: 1.2;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
}

.page-products {
	margin-top: 23px;
	font-size: 0;
	text-align: center; 
}

.page-products__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 5vw;
	margin-bottom: 20px;
	overflow: hidden;
}

.page-products__item-bg {
	background-image: url("/f/images/product_back_default.png");
	width: 320px;
	height: 480px;
	position: relative;
	z-index: 10;
	cursor: pointer;
}

.page-products__item-bg.selected {
	background-image: url("/f/images/product_back_selected.png");
}

.page-products__item-bg.disabled {
	background-image: url("/f/images/product_back_disabled.png");
}

.page-products__item:last-child {
	margin-right: 0;
}

.page-products__item-inner {
	padding: 20px 45px;
	position: relative;
}

.page-products__item-description {
	font-size: 16px;
	font-family: "TrebuchetMS-regular";
	color: rgb(102, 102, 102);
	line-height: 1.2;
	text-align: left;
}

.page-products__item-bg.disabled .page-products__item-description {
	color: rgba(179, 179, 179, 0.502);
}

.page-products__item-title {
	font-size: 48px;
	font-family: "TrebuchetMS-bold";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}

.page-products__item-bg.disabled .page-products__item-title {
	color: rgba(179, 179, 179, 0.502);
}

.page-products__item-main-component {
	font-size: 24px;
	font-family: "TrebuchetMS-bold";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}

.page-products__item-bg.disabled .page-products__item-main-component {
	color: rgba(179, 179, 179, 0.502);
}

.page-products__item-offer {
	font-size: 14px;
	font-family: "TrebuchetMS-regular";
	color: rgb(102, 102, 102);
	line-height: 1.143;
	text-align: left;
	margin-top: 16px;
}

.page-products__item-bg.disabled .page-products__item-offer {
	color: rgba(179, 179, 179, 0.502);
}

.page-products__item-image {
	background-image: url("/f/images/cat.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 98%;
	height: 273px;
	position: absolute;
	bottom: 4px;
	left: 4px;
}

.page-products__item-bg.disabled .page-products__item-image {
	background-image: url("/f/images/cat_disabled.png");
}

.page-products__item-weight {
	position: absolute;
	bottom: 12px;
	right: 12px;
	font-size: 42px;
	line-height: 1.35;
	font-family: "TrebuchetMS-regular";
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 50%;
	background-color: rgb(22, 152, 217);
	width: 81px;
	height: 81px;
}

.page-products__item-bg.disabled .page-products__item-weight {
	background-color: rgb(179, 179, 179);
}

.page-products__item-bg.selected .page-products__item-weight {
	background-color: rgb(217, 22, 103);
}

.page-products__item-weight--units-measure {
	font-family: "TrebuchetMS-regular";
	font-size: 21px;
	display: block;
	line-height: 0.7;
}

.page-products__description-after-item {
	font-size: 13px;
	font-family: "TrebuchetMS-regular";
	color: rgb(255, 255, 255);
	line-height: 1.231;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);	
	padding-top: 16px;
}

.page-products__item-bg.disabled ~ .page-products__description-after-item {
	color: rgb(255, 255, 102);
}

.page-products__description-after-item--link {
	color: #107cb2;
	border-bottom: 1px dashed #107cb2;
	cursor: pointer;
}

@media (max-width: 1159px) {
	.page__bg {
		overflow: visible;
	}
	.page-products__item {
		margin-right: 1vw;
	}
	.page-products__item-bg {
		background-size: contain;
	}
}

@media (max-width: 999px) {
	.page-content {
		position: static;
		margin-right: 0;
		transform: none;
	}
	.page-products__item {
		margin-right: 3.5vw;
		margin-left: 3.5vw;
	}
}
@media (max-width: 767px) {
	.page-content {
		max-width: 320px;
		margin: auto;
	}
	.page-products__item {
		margin-right: 0;
		margin-left: 0;
	}
	.page-products__item-bg {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 450px;
	}
	.page-products__item-image {
		width: 96%;

	}
}




